<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- 引入组件库 -->
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script>
        window.onload = function(){
            new Vue({
                el: "#app",
                data(){
                    return {
                        options: [{
                            value: '选项1',
                            label: '黄金糕'
                        }, {
                            value: '选项2',
                            label: '双皮奶',
                            disabled: true
                        }, {
                            value: '选项3',
                            label: '蚵仔煎'
                        }, {
                            value: '选项4',
                            label: '龙须面'
                        }, {
                            value: '选项5',
                            label: '北京烤鸭'
                        }],
                        value: []
                    }
                }

            })
        };
    </script>
</head>
<body>
    <div id="app">
        <el-select v-model="value" placeholder="请选择" clearable multiple>
            <el-option 
            v-for="item in options" 
            :key="item.value" 
            :label="item.label"
            :disabled="item.disabled"
            :value="item.value"></el-option>
        </el-select>
        <el-row>
            {{value}}
        </el-row>
    </div>
</body>
</html>